@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
header{
    background-color: darksalmon;
}
.container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
}
.logo {
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
}
.container-fluid {
    display: flex;
    justify-content: space-around;
    float: right;
}
body {
    background-image: url('/images/milky.jpg');
    min-height: 380px;
    background-position: center;
    background-size: cover;
}


header::after {
    content: '';
    display: table;
    clear: both;

}



nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    margin-left: 70px;
    padding-top: 28px;
    position: relative;
}
nav a {
     text-decoration: none;
     text-transform: uppercase;
     font-size: 14px;
     color: black;
     padding: 5px, 20px;

 }
nav a:hover {
    color: black;
}
nav a::before {
    content: '';
    display: block;
    height: 5px;
    background-color: black;
    position: absolute;
    top: 0;
    width: 0;
    transition: all ease-in-out 250ms;
}
nav a:hover::before {
    width: 100%;
}
.content {
    max-width: 500;
    margin: auto;
    background-color: plum;
    padding: 10px;
    
}
.content h1, h2, p, ul {
    text-align: center;
}
.iframe-container iframe{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: "60%"
body{
  font-size: 20px;
  font-style: normal;

}
.container{
  background-image: url("../images/print4.jpg");

}
.col-md-7{
  margin:auto;
}
.col-md-9{
  margin:auto;
}
.panel-heading{
  font-size: 30px;
  background-color: white;

}
#main-timer-panel{
  background-color:gold;

}

#timelimit{

}
#time-limit{

}
.card-team1{

}
#start-btn{

}
#reset-btn{

}
