

header {
    background-color: #F88A07;
}

header::after {
    content: '';
    display: table;
    clear: both;

}
.logo{
    color: black;
    
}
nav {
    float: right;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    margin-left: 70px;
    padding-top: 28px;
    position: relative;
}
nav a {
     text-decoration: none;
     text-transform: uppercase;
     font-size: 14px;
     color: #0775F8;
 }
nav a:hover {
    color: black;
}
nav a::before {
    content: '';
    display: block;
    height: 5px;
    background-color: black;
    position: absolute;
    top: 0;
    width: 0;
    transition: all ease-in-out 250ms;
}
nav a:hover::before {
    width: 100%;
}

